@model IEnumerable<employeecontroller.Models.employee>

@{
    ViewData["Title"] = "employeelist";
}

<h1>employeelist</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.empId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.empName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isactive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.empId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.empName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isactive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                    @Html.ActionLink("Edit", "edit", new {pempid=item.empId }) |
                    @Html.ActionLink("Details", "getemployeedetail", new {pempid= item.empId }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>

